<!-- login -->
<div class="card mt-5 w-25 m-auto">
    <div class="card-header text-primary fw-bold bg-white fs-4">
        Login with Us!
    </div>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="userEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="userEmail" placeholder="Email Address">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="Userpassword" placeholder="Password">
            </div>
            <div class="mb-3 form-check float-end">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Forgot Password?</label>
            </div>
        </form>
        <div class="text-center">
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </div>
    </div>
</div>