<div class="card mt-5 w-25 m-auto">
    <div class="card-header text-primary fw-bold bg-white fs-4">
        Update Form
    </div>
    <div class="card-body">
        <form [formGroup]="userForm">
            <div class="mb-3">
                <label for="userFirstName" class="form-label">First Name<span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="userFirstName">
            </div>
            <div class="mb-3">
                <label for="userLastName" class="form-label">Last Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="userLastName">
            </div>
            <div class="mb-3">
                <label for="userEmail" class="form-label">Email address <span class="text-danger">*</span></label>
                <input type="email" class="form-control" formControlName="userEmail">
            </div>
            <div class="mb-3">
                <label for="userProfessional" class="form-label">Professional <span class="text-danger">*</span></label>
                <select class="form-select form-select mb-3" aria-label=".form-select-lg example" id="userProfessional"
                    formControlName="userProfessional">
                    <option>-- Select Option --</option>
                    <option value="Frontend Developer">Frontend Developer</option>
                    <option value="Backend Developer">Backend Developer</option>
                    <option value="Dot Net Developer">Dot Net Developer</option>
                    <option value="React JS Developer">React JS Developer</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="userPhoneNumber" class="form-label">Phone Number <span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="userPhoneNumber">
            </div>
            <div class="mb-3">
                <label for="userPassword" class="form-label">Password <span class="text-danger">*</span></label>
                <input type="password" class="form-control" formControlName="userPassword">
            </div>
            <div class="mb-3">
                <label for="userConfirmPassword" class="form-label">Confirm Password <span
                        class="text-danger">*</span></label>
                <input type="password" class="form-control" formControlName="userConfirmPassword">
            </div>

            <div class="text-center mb-3">
                <button type="submit" class="btn btn-primary w-100" (click)="editUpdate(userForm.value)">Submit</button>
            </div>
            <div class="mb-3 form-check float-end">
                <span>Already have an account?</span>
                <span class="mx-2 text-primary fw-semibold">
                    <a href="#">Login here!</a>
                </span>
            </div>

        </form>

    </div>
</div>