<!-- register -->
<div class="card mt-5 w-25 m-auto">
    <div class="card-header text-primary fw-bold bg-white fs-4">
        Register with Us!
    </div>
    <div class="card-body">
        <form #userForm="ngForm" (ngSubmit)="getValues(userForm.value)" >
            <div class="mb-3">
                <label for="userFirstName" class="form-label">First Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="userFirstName" name="userFirstName" ngModel>
            </div>
            <div class="mb-3">
                <label for="userLastName" class="form-label">Last Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="userLastName" name="userLastName" ngModel>
            </div>
            <div class="mb-3">
                <label for="userEmail" class="form-label">Email address <span class="text-danger">*</span></label>
                <input type="email" class="form-control" id="userEmail" name="userEmail" ngModel>
            </div>
            <div class="mb-3">
                <label for="userProfessional" class="form-label">Professional <span class="text-danger">*</span></label>
                <select class="form-select form-select mb-3" aria-label=".form-select-lg example" id="userProfessional"
                    name="userProfessional" ngModel>
                    <option>-- Select Option --</option>
                    <option value="Frontend Developer">Frontend Developer</option>
                    <option value="Backend Developer">Backend Developer</option>
                    <option value="Dot Net Developer">Dot Net Developer</option>
                    <option value="React JS Developer">React JS Developer</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="userPhoneNumber" class="form-label">Phone Number <span class="text-danger">*</span></label>
                <input type="number" class="form-control" id="userPhoneNumber" name="userPhoneNumber" ngModel>
            </div>
            <div class="mb-3">
                <label for="userPassword" class="form-label">Password <span class="text-danger">*</span></label>
                <input type="password" class="form-control" id="userPassword" name="userPassword" ngModel>
            </div>
            <div class="mb-3">
                <label for="userConfirmPassword" class="form-label">Confirm Password <span
                        class="text-danger">*</span></label>
                <input type="password" class="form-control" id="userConfirmPassword" id="userConfirmPassword" ngModel>
            </div>

            <div class="text-center mb-3">
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </div>
        </form>

        <div class="mb-3 form-check text-center">
            <span>Already have an account?</span>
            <span class="mx-2 text-primary fw-semibold">
                <a href="#">Login here!</a>
            </span>
        </div>
    </div>
</div>